

@font-face {
    font-family: 'averta_regularregular';
    src: url('./fonts/averta-regular-webfont.eot');
    src: url('./fonts/averta-regular-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/averta-regular-webfont.woff2') format('woff2'), url('./fonts/averta-regular-webfont.woff') format('woff'), url('./fonts/averta-regular-webfont.ttf') format('truetype'), url('./fonts/averta-regular-webfont.svg#averta_regularregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'avertasemibold';
    src: url('./fonts/averta-semibold-webfont.eot');
    src: url('./fonts/averta-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/averta-semibold-webfont.woff2') format('woff2'), url('./fonts/averta-semibold-webfont.woff') format('woff'), url('./fonts/averta-semibold-webfont.ttf') format('truetype'), url('./fonts/averta-semibold-webfont.svg#avertasemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

body, html {
    padding: 0;
    margin: 0;
    color: #000;
    background-color: #FFF;
    height: 100%;
    line-height: 1.4em;
    font-size: 15px;
    font-family: 'averta_regularregular';
    overflow: visible;
}




a {
    text-decoration: none !important;
    color: black !important;
    cursor: pointer;
    font-family: 'avertasemibold', Icons/*!Persona*/

}


.header {
    padding: 40px 0px;
    font-family: 'avertasemibold', Icons/*!Persona*/

    

}

.header .logo {
    font-weight: bold;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 1.5rem;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.85);
    font-family: 'avertasemibold', Icons/*!Persona*/
    ;

}

.work-item {
    margin-bottom: 30px;
    
    
}

.work-item h2 {
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin-top: 10px;
}

.offcanvas {
    width: 50% !important;
}



@media only screen and (max-width: 600px) {
    .offcanvas {
        width: 100% !important;
    }
    

}