


a {
    text-decoration: none !important;
    color: black !important;
    cursor: pointer;
}


.header {
    padding: 40px 0px;

    

}

.header .logo {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 0.2rem;
}

.work-item {
    margin-bottom: 30px;
    
    
}

.work-item h2 {
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin-top: 10px;
}

.offcanvas {
    width: 50% !important;
}



@media only screen and (max-width: 600px) {
    .offcanvas {
        width: 100% !important;
    }
    

}