@font-face {
	font-family: 'averta_regularregular';
	src: url('./fonts/averta-regular-webfont.eot');
	src: url('./fonts/averta-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('./fonts/averta-regular-webfont.woff2') format('woff2'),
		url('./fonts/averta-regular-webfont.woff') format('woff'),
		url('./fonts/averta-regular-webfont.ttf') format('truetype'),
		url('./fonts/averta-regular-webfont.svg#averta_regularregular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'avertasemibold';
	src: url('./fonts/averta-semibold-webfont.eot');
	src: url('./fonts/averta-semibold-webfont.eot?#iefix') format('embedded-opentype'),
		url('./fonts/averta-semibold-webfont.woff2') format('woff2'),
		url('./fonts/averta-semibold-webfont.woff') format('woff'),
		url('./fonts/averta-semibold-webfont.ttf') format('truetype'),
		url('./fonts/averta-semibold-webfont.svg#avertasemibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

body,
html {
	padding: 0;
	margin: 0;
	color: #000;
	background-color: #fff;
	height: 100%;
	line-height: 1.4em;
	font-size: 15px;
	font-family: 'averta_regularregular';
	overflow: visible;
}

a {
	text-decoration: none !important;
	color: black !important;
	cursor: pointer;
	font-family: 'avertasemibold', Icons; /*!Persona*/
}

.header {
	padding: 40px 0px;
	font-family: 'avertasemibold', Icons; /*!Persona*/
}

.header {
	padding: 50px 0px;
	.logo {
		font-weight: bold;
		margin-bottom: 0px;
		padding-bottom: 0px;
		font-size: 1.5rem;
		line-height: 1.2;
		color: rgba(0, 0, 0, 0.85);
		font-family: 'avertasemibold', Icons;
	}
	p {
		color: #aaa;
		font-size: 1.3rem;
		font-family: 'averta_regularregular';
	}
}

.introduction {
	padding: 30px 0px 60px 0px;
}

.introduction h2 {
	font-family: 'averta_regularregular';
	font-style: normal;
	font-weight: 400;
	padding: 0;
	margin: 0;
	color: rgba(0, 0, 0, 0.85);
	line-height: 3rem;
	font-size: 2.3rem;
}

.introduction h2 strong {
	font-family: 'avertasemibold';
}

.portfolio-detail .description h1 {
	font-size: 2.8rem;
	font-family: avertasemibold;
	line-height: 3.2rem;
	margin-bottom: 20px;
}

.top-menu {
	top: 0px;
	width: 25px;
	height: 2px;
	border-radius: 10px;
	background-color: #f9a530;
}

.mid-menu {
	top: 8px;
	width: 25px;
	height: 2px;
	border-radius: 10px;
	background-color: #f9a530;
}

.bottom-menu {
	top: 16px;
	width: 25px;
	height: 2px;
	border-radius: 10px;
	background-color: #f9a530;
}

.menui {
	background: #333;
	transition: 0.6s ease;
	transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
	margin-top: 10px;
	position: absolute;
}

.icon {
	z-index: 999;
	position: relative;
	display: block;
	padding: 9px;
	height: 40px;
	width: 40px;
	margin: 0px;
	top: 0px;
    float: right;
	right: 0px;
}


.profile p {
    font-size: 1.475rem;
    margin-bottom: 20px;
    line-height: 2rem;
}

.profile h1 {
	font-size: 2.8rem;
	font-family: avertasemibold;
	line-height: 3.2rem;
	margin-bottom: 20px;
}

.work-item {
	margin-bottom: 30px;
}


.portfolio-detail .description {
    padding: 50px 0;
}

.portfolio-detail .description h1 {
    font-size: 2.8rem;
    font-family: avertasemibold;
    line-height: 3.2rem;
    margin-bottom: 20px;
}

.work-item h2 {
	font-size: 20px;
	color: black;
	text-decoration: none;
	margin-top: 10px;
}



	/* Add initial hidden state and visible state for fade-in effect */
	.hidden {
		opacity: 0;
		transform: translateY(20px);
		transition: opacity 0.5s ease, transform 0.5s ease;
	}

	.visible {
		opacity: 1;
		transform: translateY(0);
	}



    .custom-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9); /* Dark overlay */
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1050; /* Ensure it's above Bootstrap components */
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }
    
    .custom-overlay:not(.hidden) {
        opacity: 1;
        visibility: visible;
    }
    
    .custom-overlay-content {
        text-align: center;
    }
    
    .custom-overlay-content a p {
        color: white;
    }

    .custom-overlay-link {
        color: white;
        font-size: 1.5rem;
        margin: 1rem 0;
        text-decoration: none;
        display: block;
    }
    
    .custom-overlay-link p {
        margin: 0;
        padding: 0.5rem 0;
    }
    
    .custom-btn-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: transparent;
        border: none;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
    }